/*
 * Follow Me On Twitter - @wildfoster.
 *
 * (c) Oladoyinbo Vincent <support@digitalpoint.com.ng>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

*{
    font-weight: 500;
}
.bg-font{
font-family: 'Titillium Web', sans-serif;
}

.typewrite{
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

#link{
display:none;
}

#link2 {
display:none;
}

.hide{
    display: hidden;
}

.result{
display:none;
}

.err{
display:none;
}

.successpop{
font-size: 18px;
}

.loading{
    display:none;
}